<div class="row">
    <h1>Greeted Names</h1>

    <table>
        <thead>
            <th>Greeted Names</th>
            <!-- <th>Spotted Count</th> -->
        </thead>

        <tbody>
            {{#each database}}
            <td>{{greeted_names}}</td>
            <!-- <td>{{!spotted_greetings}}</td> -->
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
