<div class="row">
    <h2>Greeted Names</h2>

    <table>
        <thead>
            <th>Greeted Names</th>
        </thead>

        <tbody>
            {{#each greeted_names}}
            <td><a href="/greeted/{{greeted_names}}"></a>{{greeted_names}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
