<div class="row greeted">
    <h2>Greeted Names</h2>

    <table>
        <thead>
            <th>Greeted Names</th>
            <th>Counter</th>
            <form action="/" method="GET">
            <button class="backBtn" type="submit" name="back">Back</button>
            </form>
    </thead>

        <tbody>
            {{#each users}}
            <td class="theGreet"><a href="counter/{{greeted_names}}">{{greeted_names}}</a></td> 
            <td>{{greeted_counter}}</td>
             </tr>
            {{/each}}
        </tbody>
    </table>
</div>
