<div class="row">
    <h2>Greeted Names</h2>

    <table>
        <thead>
            <th>Greeted Names</th>
        </thead>

        <tbody>
            {{#each database}}
            <td>{{greeted_names}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
