<div class="row greeted">
    <h2>Greeted Names</h2>

    <table>
        <thead>
            <th>Greeted Names</th>
            <form action="/" method="GET">
            <button class="backBtn" type="submit" name="back">Back</button>
            </form>
    </thead>

        <tbody>
            {{#each users}}
            <td class="theGreet">{{greeted_names}} has been greeted {{greeted_counter}} time(s)</td>
             </tr>
            {{/each}}
        </tbody>
    </table>
</div>
