<div class="row greeted">
    <h2 class="greeted">Times peope are greeted</h2>
    <a href="/greeted"><button class="backBtn" type="button" name="back">back</button></a>
    <a href="/"><button class="home " type="button" name="home">home</button></a>
    <p class="par">Hello, {{names}} has been greeted {{greeted_counter }} time(s)</p>
</div>