<div class="row times">
    <h2>Times peope are greeted</h2>

            <form action="/" method="GET">
            <button class="backBtn" type="submit" name="back">back</button>
            <button class="backBtn" type="submit" name="back">home</button>
            </form>
    
            <p>Hello, {{names}} has been greeted {{greeted_counter }} time(s)</p>
       
</div>