<div class="row greeted">
    <h2 class="greeted">Times peope are greeted</h2>

            <form action="/" method="GET">
            <button class="backBtn" type="submit" name="back">back</button>
            <button class="backBtn" type="submit" name="back">home</button>
            </form>
    
            <p class="par">Hello, {{names}} has been greeted {{greeted_counter }} time(s)</p>
       
</div>