* {
  margin: auto;
  width: auto;
}
.header{
  background-color: #ffe2d0;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 5%;
}
h2 {
  font: italic small-caps bold 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 6%;
}
.content{
  text-align: left;
  padding-top: 5%;
  margin-left: 1%;
}
.userName{
  margin-left: 3%;
}
.body{
  text-align: left;
  margin-top: 4%;
}

.dis{
    font-weight: bold;
    font-size: 2em;
}
table{
  
}
.greeted h2{
  margin-top: 5%;
  margin-bottom: 2%;
  padding-bottom: 5%;
  background-color: #ffe2d0;
}
.theGreet{
  text-decoration-color: blue;
}
.par {
  margin-left: 35%; 
  color: brown;
}